<!doctype html>
<html>
<head>
	<!-- Base page linking to bootstrap and own css stylesheet. -->
	<link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles.css">
    <title>{% block title %}TITLE GOES HERE{% endblock %}</title>
</head>
<body>
<div class="container">
{% block content %}
CONTENT GOES HERE
{% endblock %}
</div>
 <script src="http://code.jquery.com/jquery.js"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</body>
</html>